body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: rgba(251, 239, 224, 1) ;
}

header h1 {
  font-size: 2.5rem;
  color:rgba(19, 60, 92, 1);
}

section {
  padding: 2rem 0;
}

.btn {
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
}

.text-justify {
  text-align: justify;
}

.title{
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
}

.uppercase{
  text-transform: uppercase;
}

.dark-blue{
  color: rgba(19, 60, 92, 1);
}

.bg-dark-blue {
  background-color: rgba(19, 60, 92, 1);
}


