@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@font-face {
  font-family: "Sofia Pro";
  src:
    url("../fonts/Sofia\ Pro\ Regular\ Az.otf"),
}

@font-face {
  font-family: "Newake";
  src:
    url("../fonts/NewakeFont-Demo.otf"),
}


/* Styles généraux */
body {
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
}

h1, h2, h3 {
  font-family: "Bricolage Grotesque", sans-serif;
}



.img-nav{
  background-color: #FFF;
  color: #787FDC !important;
  border: 2px solid #787FDC;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-nav:hover{
  color: #ffffff !important;
  background-color: #787FDC;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: #ffffff ;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  backdrop-filter: blur(2px);
  padding: 32px 64px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

header h1 {
  font-size: 2.5rem;
  color: #787FDC ;
  margin-left: 100px;
}

/* Section */
section {
  padding: 2rem 0;
}

.btn {
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
}

.text-justify {
  text-align: justify;
}

/* Titres principaux */
.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
}


.dark-blue {
  color: #1B1725 ;
}

/* Fond bleu sombre */
.bg-dark-blue {
  background-color: #1B1725 ;
}

.header-title {
  margin-left: 100px;
}

/* ICONES */
.logo-full {
  display: block;
}
.logo-icon {
  display: none;
}

.custom-spinner {
  color: #1B1725 ;
}

  h3,h4 {
    font-size: 1.5rem;
  }

  


/* Responsive Mobile */
@media (max-width: 768px) {

  /* Header */
  .header-title {
    margin-left: 0;
  }

  header {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  h3, h4 {
    font-size: 1.3rem;
  }

  /* Titre principal */
  .title {
    font-size: 32px;
    /* Réduction de la taille */
    line-height: 42px;
  }

  header h1 {
    font-size: 1.5rem;
    margin-left: 0;
    padding: 0;
  }

  /* Sections */
  section {
    padding: 1.2rem 1rem;
  }

  /* Titres */
  .title {
    text-align: center;
  }

  /* Boutons */
  .btn {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    display: block;
    margin: 1rem auto;
  }

  /* Texte d'introduction */
  .text-justify {
    text-align: center;
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Espacements supplémentaires */
  .mt-5,
  .mb-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  /* Container général */
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  /* ICONES */
  .logo-full {
    display: none;
  }
  .logo-icon {
    display: block;
  }
}



