/* Cercle numéroté */
.step-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #FFEB53;
    color: #787FDC ;
    border-radius: 50%;
    font-weight: 700;
    flex-shrink: 0;
    gap: 10px;
    line-height: 49px;
    font-size: 40px;
}

section {
    align-self: center;
}

/* Couleur de fond */
.bg-dark-blue {
    background-color: #fff ;
    padding: 64px;
    max-width: 1240px;
    width: 100%;
}

.functionContainer {
    background-color: #787FDC;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 80px 100px;
}


.text-li {
    font-size: 20px;
    line-height: 24px;
}

/* Alignement des listes */
li.d-flex {
    align-items: center;
}

/* Placeholder d'image */
.square-placeholder {
    width: 100%;
    max-width: 300px;
    height: 300px;
    background-color: #d3d3d3;
}

/* Images ajustables */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive pour Mobile */
@media (max-width: 768px) {

    
.text-li {
    font-size: 16px;
    line-height: 24px;
}

    /* Titres */

    .functionContainer {
    padding: 12px 12px;
}

    /* Espacements pour les rangées */
    .row {
        flex-direction: column-reverse; 
    }

    /* Gestion images */
    .col-md-4 img,
    .col-md-5 img {
        margin: 0 auto 1.5rem auto; 
        display: block;
        height: auto;
        max-height: 200px; 
    }

    /* Ajustement général du padding */
    .py-5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .mb-5 {
        margin-bottom: 1.5rem !important;
    }

        .bg-dark-blue {
            background-color: #fff ;
            padding: 12px;
        }
}

@media (min-width: 768px) {
    .ratio.w-md-50 {
      width: 50% !important;
    }
  }