/* Cercle numéroté */
.step-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #FFEB53;
    color: rgba(19, 60, 92, 1);
    border-radius: 50%;
    font-weight: 700;
    flex-shrink: 0;
    gap: 10px;
    line-height: 49px;
    font-size: 40px;
}

/* Couleur de fond */
.bg-dark-blue {
    background-color: rgba(19, 60, 92, 1);
}

/* Texte général */
.text-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 44px;
}

.text-li {
    font-size: 20px;
    line-height: 24px;
}

/* Alignement des listes */
li.d-flex {
    align-items: center;
}

/* Placeholder d'image */
.square-placeholder {
    width: 100%;
    max-width: 300px;
    height: 300px;
    background-color: #d3d3d3;
}

/* Images ajustables */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive pour Mobile */
@media (max-width: 768px) {
    /* Titres */
    .text-title {
        font-size: 29px;
        text-align: center; 
    }

    /* Espacements pour les rangées */
    .row {
        flex-direction: column-reverse; 
    }

    /* Gestion images */
    .col-md-4 img,
    .col-md-5 img {
        margin: 0 auto 1.5rem auto; 
        display: block;
        height: auto;
        max-height: 200px; 
    }

    /* Ajustement général du padding */
    .py-5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .mb-5 {
        margin-bottom: 1.5rem !important;
    }
}

@media (min-width: 768px) {
    .ratio.w-md-50 {
      width: 50% !important;
    }
  }