.header {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 30px 64px 30px 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: auto;
  max-width: 1600px;
  height: 100px;
  position: fixed;
  top: 24px;
  left: 64px;
  right: 64px;
  margin: 0 auto;
  overflow: hidden;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.social-icon-link {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #787fdc;
  border-width: 2px;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.social-icon-link:hover {
  background-color: #787fdc;
  transition: all 0.3s ease;
}

.social-icon-link:hover svg,
.social-icon-link:hover .mdi-instagram2,
.social-icon-link:hover .mingcute-mail-line {
  color: #ffffff;
}

.social-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
  color: #787fdc;
  transition: color 0.3s ease;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    padding: 12px 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    position: fixed;
    left: 0px;
    top: 0px;
    gap: 12px;
    backdrop-filter: blur(10px);
    border-radius: 0;
  }
}
