.hero-section {
  padding: 188px 64px 128px 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(102, 102, 102, 0) 100%
  );
  border-radius: 50px;
  padding: 64px 120px 64px 120px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    color: white;
  }

  p {
    color: white;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  max-width: 780px;
  width: 100%;
  position: relative;
}

.logo {
  flex-shrink: 0;
  max-width: 422px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: visible;
}

.blur-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 20px 38px 20px 38px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: fit-content;
  max-width: 566px;;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

/* ===== TABLET  RESPONSIVE STYLES ===== */
@media (max-width: 1000px) {
  .hero-section {
    align-items: center;
  }

  .logo-container {
      align-items: center;
      
      h1 {
        text-align: center;
      }
    }

    .blur-container {
      align-items: center;
    }

    p {
      text-align: center;
    }
  
}

/* ===== MOBILE RESPONSIVE STYLES ===== */
@media (max-width: 768px) {
  .hero-section {
    padding: 160px 16px 32px 16px;
  }

  .hero {
    gap: 32px;
    padding: 24px 64px;
    width: 100%;
  }

  .logo {
    height: 64px;
  }

  .blur-container {
    padding: 48px 12px 48px 12px;
    align-items: center;
    align-self: stretch;
    height: fit-content
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 24px 16px;
  }
}
