.steps {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1328px;
  position: relative;
}

.step-card {
  flex: 1 1 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.step-card-content {
  flex: 1;
  background: var(--primary-lighter, #e5ebff);
  border-radius: 50px;
  padding: 68px 24px 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 200px;

  h2, p {
    text-align: center;
  }
}

.step-number-badge {
  background: var(--primary, #787fdc);
  border-radius: 500px;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .step-number-text {
    color: white;
  }
}

.complementary-info {
  background: var(--primary, #787fdc);
  border-radius: 50px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1328px;

  h1 {
    color: white;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 1200px) {
  .steps {
    flex-direction: column;
    gap: 64px;
    width: 100%;
  }

  .step-card {
    width: 100%;
  }

  .complementary-info {
    padding: 64px 24px;

    h1,p {
      text-align: center;
    }
  }
}