/* Titre secondaire */
.title-secondary {
    font-size: 36px;
    line-height: 44px;
    color: rgba(19, 60, 92, 1);
    font-weight: 400;
}

/* Bouton principal */
.button-flambow {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: rgba(19, 60, 92, 1);
    background: linear-gradient(0deg, #FEB441, #FEB441);
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-flambow:hover {
    background-color: #FCA12A; 
    transform: scale(1.05); 
}

/* Fond de la section */
.bg-landing {
    background-image: url("../images/wallpaper.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px 0 !important;
    position: relative; 
}

/* Image en bas à gauche */
.image-bottom-left {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 30%; 
    max-width: 100%; 
    z-index: 1; 
}

/* Responsive Mobile */
@media (max-width: 768px) {
    .image-bottom-left {
        width: 200px; 
    }

    /* Centrage du texte */
    .text-end {
        text-align: center !important; 
        margin-top: 20px;
    }



    /* Titre secondaire */
    .title-secondary {
        font-size: 20px; 
        line-height: 28px;
    }

    /* Bouton principal */
    .button-flambow {
        font-size: 20px; 
        padding: 10px 20px; 
    }

    .image-bottom-left {
        display: none !important;
      }
}


