/* Titre secondaire */
.title-secondary {
    font-size: 36px;
    line-height: 44px;
    color: #1B1725 ;
    font-weight: 400;
}

/* Bouton principal */
.button-flambow {
    display: flex;
    width: 421px;
    padding: var(--xs-spacing, 12px) var(--s-spacing, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--xs-spacing, 12px);
    flex-shrink: 0;
    border-radius: 20px;
    color: #fff;
    background: var(--Primary, #787FDC);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    align-self: center;
    font-family: 'Newake', sans-serif;
    text-transform: uppercase;
     letter-spacing: 1px;
}

.button-flambow:hover {
    background-color: #344A9F !important; 
    color: #FFF ;
}

/* Fond de la section */
.bg-landing {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px 0 !important;
    position: relative; 
    width: 100%;
}

/* Image en bas à gauche */
.image-bottom-left {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 38%; 
    max-width: 100%; 
    z-index: 1; 
}

/* Container pour les icônes */
.eye-icon {
  display: inline-block;
  position: relative;
  width: 24px; 
  height: 24px;
}

/* Par défaut, eye-close visible */
.eye-icon .eye-close {
  transition: opacity 0.3s ease;
}

/* eye-open caché par défaut */
.eye-icon .eye-open {
  position: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: none;
}

/* Effet hover pour le bouton */
/* Cache eye-close */
.button-flambow:hover .eye-close {
  opacity: 0; 
  transition: opacity 0.3s ease;
  display:none;
}
/* Affiche eye-open */
.button-flambow:hover .eye-open {
  opacity: 1; 
  transition: opacity 0.3s ease;
  display:inline;
}


/* Responsive Mobile */
@media (max-width: 768px) {
    .image-bottom-left {
        width: 200px; 
    }

    /* Centrage du texte */
    .text-end {
        text-align: center !important; 
        margin-top: 20px;
    }

    /* Titre secondaire */
    .title-secondary {
        font-size: 20px; 
        line-height: 28px;
    }

    /* Bouton principal */
    .button-flambow {
        display: flex;
        align-items: center;
        padding: 8px 20px !important; 

        .eye-icon {
            margin-left: 0!important;

            svg {
                width: 18px;
            }
        }
    }

    .image-bottom-left {
        display: none !important;
      }
}


