/* Style général */
.text-news {
  font-size: 24px;
  line-height: 29px;
}

/* Arrondi pour input et bouton */
.rounded-pill-start {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.rounded-pill-end {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

/* Style input */
.email-input {
  background-color: #fff;
  color: #1B1725 ;
  font-size: 24px;
  border: none;
  padding: 15px 20px; 
  padding-left:40px;
  box-shadow: none;
}

/* Style du texte placeholder */
.email-input::placeholder {
  color: #1B1725 ; 
  opacity: 1; 
}

.email-input::-webkit-input-placeholder { /* Chrome, Safari */
  color: #1B1725 ;
  opacity: 1;
}

.email-input:focus {
  color: #1B1725 ; /* Maintient */
  background-color: #fff;
}


/* Style du bouton flèche */
.arrow-btn {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  padding: 0 20px; 
}

.arrow-btn:hover {
  background-color: #E5EBFF;
}

/* Style icône SVG */
.arrow-path {
  fill: #1B1725; 
  transition: fill 0.3s ease; 
}

.arrow-btn:hover .arrow-path {
  fill: #787FDC; 
}

/* Style global form */
.input-group {
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.newsLettercontainer {
      background-color: #787FDC;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 80px 100px;
}
/* Responsive pour mobile */
@media (max-width: 768px) {

  .newsLettercontainer {
    padding: 12px 20px;
}

.text-news {
  font-size: 18px;
}


  .email-input {

    padding: 15px; 
    font-size: 16px; 
  }

  .arrow-btn {
    padding: 10px; 
  }

  .arrow-icon {
    width: auto; 
    height: 20px;
  }
}



