/* SECTION */

.project-section img {
  height: 80px;
  margin-bottom: 1rem;
}

.bg-project {
  background-color: #ffffff ;
}

.text-project {
  font-size: 20px;
  line-height: 30px;
}

.blue-cyan {
  color: #787FDC;
}
