
/* ===== MOBILE RESPONSIVE STYLES ===== */
@media (max-width: 768px) {

  .video-container {
    gap: 32px;
  }

  .video-content {
    gap: 12px;
  }

  .video-header {
    gap: 12px;
  }

  .vid-o-de-d-monstration {
    font-family: var(--header-1-mobile-font-family);
    font-size: var(--header-1-mobile-font-size);
    font-weight: var(--header-1-mobile-font-weight);
  }

  .d-couvrez-la-premi-re-vid-o-de-d-monstration-de-notre-application {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
  }

  .rectangle-4 {
    width: 100%;
    height: 247px;
  }

  .frame-303 {
    padding: 32px 12px 32px 12px;
  }

  .frame-265 {
    gap: 64px;
  }

  .frame-34 {
    gap: 24px;
  }

  .rejoignez-l-aventure {
    font-family: var(--header-1-mobile-font-family);
    font-size: var(--header-1-mobile-font-size);
    font-weight: var(--header-1-mobile-font-weight);
  }

  .inscrivez-vous-la-newletter-pour-tre-au-courant-des-derni-res-actualit-s-de-flambow {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
  }

  .frame-312 {
    width: 100%;
    height: 43px;
  }

  .scrolling {
    display: none;
  }
}