/* ===== CSS VARIABLES ===== */
:root {
  /* Colors */
  --secondary: #ffeb53;
  --primary: #787fdc;
  --primary-lighter: #e5ebff;
  --background: #fbfcff;
  --contrast-light: #ffffff;
  --contrast-dark: #1b1725;
  --placeholder: #878787;
  --primary-darker: #344a9f;
  --tertiary: #ff682c;
  --quaternary: #fff3de;
  --faint-overlay: rgba(27, 23, 37, 0.4);

  /* Effects */
  --faint-shadow-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  --background-blur-backdrop-filter: blur(7.5px);
  --layout-effects-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  --layout-effects-backdrop-filter: blur(7.5px);

  /* Spacing */
  --xs-spacing: 12px;
  --s-spacing: 24px;
  --font-family-body: 'Sofia Pro', sans-serif;
}
